<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction to Data Science with Python and tools for Data Science

**Data Science Languages**
1. Python
2. R programming
3. SQL

*Data Science libraries*
For python
 - pandas
 - numpy
 - scipy
 - matplotlib

Data Science Tools

 - MySQL
 - mongoDB
 - hadoopHDFS
 - cassandra

**Introduction to Arithmetic Expression**

1 + 1 

2

In [2]:
1 + 1

2

In [4]:
(2 + 2) * 4

16

In [ ]:
# This will convert 200minutes to hours by dividing by 60

Hours = print(200/60)

## Objectives

 1. To complete the all the data Science courses in 4 months.
 2. To strictly follow the weekly schedule hour.
 3. To learn beyond what is taught in the program.

*Richard Dery*